/*CSS ESTILO arquivo: estilo.css*/


*{
    padding: 0px;
}
body
{
    margin: 0;
    background-image: linear-gradient(-100deg,#00C48C, #00C48C, #00625F);
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    text-align: center;
}
.conteudo-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #111825;
    margin: 0;
    height: 110px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 2px 3px #02152578;
    color: white;
    margin-bottom: 40px;
    align-items: center;
    gap: 200px;
}

.conteudo-inicio{
    margin: 200px;
}

.conteudo-inicio > h2{
    margin: 0;
}

.links > a{
    text-decoration: none;
    color: white;
}

.navegacao-site{
    text-align: center;    
    background-color: white;
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 150px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 3px #02152578;
}
.texto-direita{
    color: #01C38E;
    margin: auto;
    text-align: left;
}




/*Parte do Fale conosco*/

.conteudo-bg{
    text-align: center;    
    background-color: white;
    width: 1300px;
    height: auto;
    margin: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 1px 1px 10px rgb(97, 97, 97);
    color: #00C48C;
}